*{
    margin: 0;
    padding: 0;
}

.header{
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
}

.nav-items > ul{
    list-style-type: none;
    display: flex;
}

.nav-items > ul > li {
    padding: 10px;
}

.logo{
    width: 100px;
}

.card {
    width: 200px;
    border-radius: 5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card:hover {
    cursor: pointer;
    border: 1px solid black;
    width: 200px;
    border-radius: 5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.restaurant-list {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    margin: 0 100px;
    padding: 5px;
    gap:50px;
}

.card > img {
    width: 100%;
    border-radius: 5%;
}

.card > .infom {
    padding: 5px;
    color: grey
}

.rating{
    color: rgba(151, 41, 41, 0.661);
}

.restaurant{
    color: rgba(0, 0, 0, 0.817);
}

.shimmer {
    margin-top: 2rem;
    width: 200px;
    height: 250px;
    border-radius: 5%;
    background-color: rgba(128, 128, 128, 0.329);
   
}

.parent {
    width:90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    gap: 2rem;
}